.Form {
  align-items: center;
  background-color: #FFF;
  color: maroon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;

    #radio {
      margin-top: 10px;
    }
    .Main {
      background-color: rgb(233, 173, 152);
      border: 2px solid brown;
      border-radius: 5px;
      margin: 20px;
      min-height: 50vh;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }
}

